In [2]:
print('Hello world!')

Hello world

## Variables

- Numbers (int, long, float, complex)
- String
- List
- Tuple
- Dictionary

### String

In [2]:
a = "Sally" # x is now of type str - Text Type

In [27]:
a[0]

'S'

In [29]:
#a[0]="P" #will be error (immutable)

lower() returns lowercased string
upper() returns uppercased string
count()	returns the number of times a specified value occurs in a string
split()	Splits the string at the specified separator, and returns a list

In [61]:
txt = "welcome to the jungle"
z = txt.split()
print(z)

['welcome', 'to', 'the', 'jungle']

In [63]:
" ".join(z)

'welcome to the jungle'

In [64]:
" ".join(z).capitalize()

'Welcome to the jungle'

In [65]:
'120,1'.replace(',', '.') # +float

'120.1'

### Intiger

In [3]:
b = 4 # x is of type int - Numeric Type

### Float

In [4]:
c = 20.5 # x is of type float - Numeric Type

### Booleon

In [5]:
d = True # x is True or False

### List

In [10]:
e= ["apple", "banana", "cherry"]

In [11]:
e[0]

'apple'

In [12]:
e[-1]

'cherry'

In [13]:
e[1:3]

['banana', 'cherry']

In [14]:
e[:3]

['apple', 'banana', 'cherry']

In [15]:
e.append('peach')
e[:]

['apple', 'banana', 'cherry', 'peach']

In [17]:
new_list=['orange']
bigger_list=new_list + e
print(bigger_list)

['orange', 'apple', 'banana', 'cherry', 'peach']

### Set

In [20]:
my_list = [1, 1, 1, 2]
my_set = set(my_list)

my_set

{1, 2}

### Tuple

In [21]:
f = (0, 1, 2) 
#Tuples are defined by enclosing the elements in parentheses (()) 
#instead of square brackets ([]) AND are immutable - cannot change it.
print(f)
type(f)

#and tuple has a hash
#hash(f)

(0, 1, 2)

tuple

In [26]:
f[0]

0

### Dict

In [30]:
dict_value = {
    'John': 4,
    'Adam': 5,
    'Ana': 5,
}

print(dict_value)
type(dict_value)

{'John': 4, 'Adam': 5, 'Ana': 5}

dict

In [31]:
dict_value['John']

4

Usefull built-in functions

In [70]:

x = int(1)    # x will be 1
x = float(1)  # x will be 1.0
x = str("s1") # x will be 's1'
#x = set(1)

In [ ]:
#zip(first_names, last_names)

In [69]:
list(enumerate(['red', 'blue', 'green']))

[(0, 'red'), (1, 'blue'), (2, 'green')]

In [8]:
len(e)

3

In [9]:
type(f)

tuple

In [42]:
x = set([1,2]) 

print(x)
type(x)

{1, 2}

set

In [ ]:
del list

In [50]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
list(range(5, 10, 2)) #range(start, stop, step)

[5, 7, 9]

If ... Else

In [32]:
if 'John' in dict_value:
    print('John is in the dictionary')

if 'Kate' in dict_value:
    print('Kate is in the dictionary')

John is in the dictionary

In [33]:
if 'Kate' in dict_value:
    print('Kate is in the dictionary')
else:
    print('Kate is NOT in the dictionary')

Kate is NOT in the dictionary

For Loops

In [35]:
#for key in list:
    #do something

In [36]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [37]:
doubled_list = []
for element in fruits:
    doubled_element = element * 2
    doubled_list.append(doubled_element)
    
doubled_list

['appleapple', 'bananabanana', 'cherrycherry']

List comprohension

In [38]:
doubled_list = [element * 2 for element in fruits]
doubled_list

['appleapple', 'bananabanana', 'cherrycherry']

## Functions

In [52]:
def f(x):
        return x**2 + 1

In [53]:
f(5)

26

In [54]:
def fahrenheit(T_in_celsius): #returns the temperature in degrees Fahrenheit """
    return (T_in_celsius * 9 / 5) + 32

for t in (22.6, 25.8, 27.3, 29.8):
    print(t, ": ", fahrenheit(t))

22.6 :  72.68
25.8 :  78.44
27.3 :  81.14
29.8 :  85.64

In [60]:
def add_one(x):
    return x + 1
add_one(2)

3

### Lambda

In [56]:
(lambda x: x + 1)(2)

3

In [58]:
add_one=(lambda x: x + 1)
add_one(2)

3

In [5]:
my_list = range(10)
list(my_list)

list( map(lambda x: x*2, my_list) )

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### Mapping

In [2]:
my_list = range(10)
list(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
def doubled_fun(value):
    return value * 2
    
list( map(doubled_fun, my_list) )

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### List Comprehension

In [6]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
[x*2 for x in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [8]:
[x*2 for x in range(10) if x % 2 == 0]

[0, 4, 8, 12, 16]